/*----------------------------------------*/
/*  VARIABLES SCSS
/*----------------------------------------*/
@font-face {
  font-family: "Garamond Bold";
  src: url("fonts/coromorant-garamond/CormorantGaramond-Bold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Garamond Regular";
  src: url("fonts/coromorant-garamond/CormorantGaramond-Regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/*----------------------------------------*/
/*  GLOBAL STYLES
/*----------------------------------------*/
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Garamond Regular", sans-serif;
  font-size: 1em;
}

/*----------------------------------------*/
/*  HEADER
/*----------------------------------------*/
header {
  height: 100vh;
  width: 100vw;
  position: relative;
}

header .container {
  position: absolute;
  z-index: 4;
  max-width: 100%;
}

header .container img {
  height: 15em;
}

.about header::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.7;
}

.about p {
  color: #ffffff;
  font-size: 1.5em;
}

.about p:first-child {
  font-family: "Garamond Bold", sans-serif;
  font-size: 2em;
}

/*----------------------------------------*/
/*  HEADER CAROUSEL
/*----------------------------------------*/
.carousel {
  height: 80vh;
  width: 100%;
  position: static;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item {
  height: 100%;
}

.carousel .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home .carousel {
  height: 100vh;
  width: 100%;
  position: relative;
}

.home .carousel::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #333;
  opacity: 0.7;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/*----------------------------------------*/
/* NAVBAR
/*----------------------------------------*/
.nav nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  overflow: hidden;
}

.nav nav img {
  height: 10rem;
}

.nav nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  z-index: 5;
  width: 100%;
}

.nav nav ul li {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav nav ul li:hover > ul {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  color: #fff;
  padding-left: 50%;
}

.nav nav ul li ul {
  display: none;
}

.nav nav ul li ul li a {
  font-size: 1em;
}

.nav nav ul li ul li a:hover {
  color: yellow;
}

.nav nav ul li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  color: #333;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.toggle-btn {
  display: block;
  position: fixed;
  z-index: 10;
  left: 3rem;
  top: 3rem;
  cursor: pointer;
  z-index: 11;
}

.toggle-btn .bar {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
}

.toggle-btn .bar:nth-child(2) {
  width: 20px;
}

#toggle:checked ~ nav {
  opacity: 1;
  visibility: visible;
}

#toggle:checked ~ nav ul li {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

#toggle:checked ~ nav ul li:nth-child(1) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}

#toggle:checked ~ nav ul li:nth-child(2) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}

#toggle:checked ~ nav ul li:nth-child(3) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}

#toggle:checked ~ nav ul li:nth-child(4) {
  -webkit-transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}

#toggle:checked + label.toggle-btn .bar {
  background-color: red;
}

#toggle:checked + label.toggle-btn .bar:nth-child(2) {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  opacity: 0;
}

#toggle:checked + label.toggle-btn .bar:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

#toggle:checked + label.toggle-btn .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}
/*# sourceMappingURL=style.css.map */